body {
    --bg-header: #121214;
    --bg-form: #fafafc;
    --bg-page: #e5e5e5;
    --bg-footer: #f0f0f4;
    --highlight-blue: #42d3ff;
    --highlight-green: #2cc76a;
    --sub-grey: #a9a7af;
    --font-big: 'Archivo';

    background-color: var(--bg-page);
}

button {
    color: #fff;
    cursor: pointer;
}

button:hover {
    filter: brightness(110%);
}

button:active {
    filter: brightness(90%);
}

header {
    background-color: var(--bg-header);
    height: 368px;
}

.title-width {
    width: 90%;
    max-width: 736px;

    margin: auto;
}

.title {
    width: 319px;

    padding-top: 74px;
}

.title h1 {
    color: #fff;

    font-family: var(--font-big), sans-serif;
    font-weight: bold;
    font-size: 36px;

    margin-bottom: 24px;
}

.title strong {
    color: var(--highlight-blue);
    font-weight: lighter;
}

.container {
    background-color: var(--bg-form);

    width: 90%;
    max-width: 736px;

    margin: -95px auto 95px;
    border-radius: 8px;
}

.required-info {
    float: right;
    padding: 5px 15px 0 0;
}

.required {
    color: red;
}

.form {
    padding: 28px 64px;
}

fieldset {
    display: flex;
    flex-direction: column;

    margin-top: 36px;

    border: 0;
}

legend {
    font-family: var(--font-big), sans-serif;
    font-size: 24px;

    width: 100%;

    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

label {
    font-size: 14px;
}

.requirement {
    color: var(--sub-grey);
    font-size: smaller;

    margin-left: 10px;
}

.input-style {
    font-size: medium;

    margin: 5px 0 20px;
    padding: 15px 30px;

    border: 1px solid var(--bg-page);
    border-radius: 8px;
}

textarea {
    resize: none;
}

.checkbox {
    display: block;

    position: relative;

    margin-bottom: 20px;
    padding-left: 35px;

    cursor: pointer;

    user-select: none;
}

.checkbox label {
    cursor: pointer;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    
    cursor: pointer;

    height: 0;
    width: 0;
}

.checkmark {
    background-color: var(--bg-page);

    position: absolute;
    top: 0;
    left: 0;

    height: 25px;
    width: 25px;

    border-radius: 8px;
}

.checkbox:hover input ~ .checkmark {
    filter: brightness(103%);
}

.checkbox:active input ~ .checkmark {
    filter: brightness(90%);
}

.checkbox input:checked ~ .checkmark {
    background-color: var(--highlight-blue);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}

.date-time {
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
}

.date {
    flex: 1 1 0;
}

.date-time div {
    flex: 0 0 1;

    display: flex;
    flex-direction: column;
}

footer {
    background-color: var(--bg-footer);

    padding: 36px 64px;

    border-top: 1px solid #ccc;
    border-radius: 0 0 8px 8px;

    box-shadow: inset 0 10px 3px -5px #ddd;
}

footer button {
    font-family: var(--font-big);
    font-size: medium;

    background-color: var(--highlight-green);
    width: 100%;

    padding: 15px 0 15px;

    border-radius: 8px;
}